[{:itonami.blueprint/social-impact [:worker-safety :billing-accuracy :cash-handling-integrity]
  :itonami.blueprint/domain :field-services/meter-reading-vending-machine-collection-route-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9623"
  :itonami.blueprint/name "Meter Reading and Vending-machine Collection Route Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :meter-reading-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9623"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
